.logo {
    background-color: blue;
    color: #fff;
    text-shadow: #000 2px 2px 0.2rem;
    height: 3.5rem;
}

body {
    background-color: skyblue;
    color: blue;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.container {
    margin-top: 50px;
}
.container01 {
    color: black;
}
.container02 {
    border-color: black;
}

canvas {
    /*margin: 0rem auto;*/
    background-color: #fff;
    border: ridge #ccc;
    border-width: 6px;
}

input[type="file"] {
    margin-bottom: 20px;
    color: blue;
    font-size: 20px;
}

.canvas-container {
    margin: 0rem auto;
    position: relative;
    width:  65rem;
    height: 33rem;
    overflow: hidden;
    /*margin:20px;*/
}